<section class="registro">
	<div class="container">
	<div class="row d-flex justify-content-center">
		<form [formGroup]="registroForm" (ngSubmit)="agregar()">  
			<hr>
			<div class="formGroup col-12">
			<p>Quiero ser parte de la comunidad! :)</p>

			</div>
			
			<div class="col-12">
				<i class="fa fa-check-circle check" *ngIf="registroForm.controls.email.valid">
				</i>
				<i class="fa fa-exclamation-circle uncheck"
				*ngIf="registroForm.controls.email.invalid && registroForm.controls.email.touched">
				</i>
				<input type="text"
				        class="form-control"
				        id="email"
				        placeholder="Su email"
				        formControlName="email">
			</div>

			<div class="col-12">
				<div class="form-group">
			    <label for="rol">Example select</label>
			    <select class="form-control" id="rol" formControlName="rol">
			      <option value="">Seleccione rol</option>
			      <option value="2">Master</option>
			      <option value="1">Vendedor</option>
			    </select>
			    </div>
			</div>

			<div class="col-12">
			<label for="">Contraseña</label>
			<input type="password" 
			       id="inputPassword" 
			       class="form-control"
			       formControlName="password">
			</div>
			
			<br>
			<div class="col-12">
				<button type="submit"
						class="btn btn-primary"
						[disabled]="!registroForm.valid">
					Enviar datos!
				</button>
			</div>
			<hr>
		</form>
	</div>

	<!--<hr>
		<pre>
			Datos del formulario: {{ registroForm.value | json}}
		</pre>
		<pre>
			Estado del formulario: {{ registroForm.status | json }}
		</pre>
		<pre>
			Valor del objeto: {{ registro | json }}
		</pre>
	<hr>-->

</div>
</section>